ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #92DCE5;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

ul li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
}

ul li a:hover {
  background-color: #FF8228;
}

.active {
  background-color: #4FFF75;
  color: #1C1521;
}